    <footer class="footer mt-auto py-3 bg-dark text-center border-top border-secondary">
        <div class="container">
            <p class="mb-0 text-light">
                © 2025 José Eduardo Moreno Paredes & Leonardo Etien Vizcaíno González
            </p>
        </div>
    </footer>
</body>
</html>